body{
	background: #FFF;
	color: #333;
	font-family: 'segoeui';
}

@font-face{
	src:url('segoeui.ttf');
	font-family: 'segoeui';
}

p{
	margin: 20px;
}.story_wrapper{
	width: 200px;
	height: 100px;	
}.wish{
	font-size: 32px;
}.firstRow{
	font-size: 24px;
}.secondRow{
	font-size: 24px;
}

