/* This is for Gecko-based browsers */

.DynarchCalendar {
  /*-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;*/
}

.DynarchCalendar-title, .DynarchCalendar-title div {
  /*-moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;*/
  padding-top: 2px;
}

.DynarchCalendar-topBar {
 /* -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;*/
}

.DynarchCalendar-bottomBar {
/*  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;*/
}

.DynarchCalendar-bottomBar-today {
 /* -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;*/
}

.DynarchCalendar-menu {
  /*-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;*/
  display: none;
}

.DynarchCalendar-menu table td div {
 /* -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;*/
}

.DynarchCalendar-weekNumber {
  /*-moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;*/
}

.DynarchCalendar-day {
  /*-moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;*/
}

.DynarchCalendar-day-disabled {
 /* -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;*/
}

.DynarchCalendar-tooltipCont {
 /* -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 5px;*/
}

.DynarchCalendar-time-hour, .DynarchCalendar-time-minute {
  /*-moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px;*/
}

.DynarchCalendar-time-am {
  /*-moz-border-radius: 3px;
  -webkit-border-radius: 3px;*/
}
/* CSS */

.DynarchCalendar {
  /*border: 1px solid #aaa;*/
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #e8e8e8;  
  line-height: 14px;
  position: relative;
  cursor: default;
  width: 407px;
}

.DynarchCalendar table {
  border-collapse: collapse;
  font: 11px Droid Sans, "lucida grande",tahoma,verdana,sans-serif;
  line-height: 24px;
  width: 406px;
}

.DynarchCalendar-titleCont table tr, td{
  border: none;
  /*background-image: url('images/CalendarMonth_BG.png');*/
;
}

.DynarchCalendar-week td{
  border: 1px solid #CCC;
}

.DynarchCalendar-bodyTable td {
  border: 1px solid #CCC; 
  width: 407px;
}

.dayNameRow td{
  /*border: 1px solid #CCC; 
  border-top: none;
  border-bottom: none; 
  color: #0F0;*/
}

.dayNameRow td:first-child{
  border-left: none;
}

.dayNameRow td:last-child{
  border-right: none;
}


.DynarchCalendar-topBar {
  border-bottom: 1px solid #aaa;
  background: #FFF;
  padding: 5px 0 0px 0;
  background-image: url('images/CalendarMonth_BG.png'); 
  background-repeat: no-repeat;
}

.topBarHRuleClass{
}

table.DynarchCalendar-titleCont {
  font-size: 130%; 
  font-weight: normal;
  color: #0071BB;
  text-align: center;
  z-index: 9;
  position: relative;
  margin-top: -6px;
}

.DynarchCalendar-title div { 
  /*border: 1px solid #AAAAAA;*/
  padding: 8px;
  cursor:pointer;
}
.DynarchCalendar-hover-title div {
  padding: 8px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.DynarchCalendar-pressed-title div {
  padding: 8px;
  color: #0071BB;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}






.DynarchCalendar-bottomBar {
  border-top: 1px solid #aaa;
  background: #ddd;
  padding: 2px;
  position: relative;
  text-align: center;
}

.DynarchCalendar-bottomBar-today {
  padding: 2px 15px;
}

.DynarchCalendar-hover-bottomBar-today {
  border: 1px solid #000;
  background-color: #fff;
  padding: 1px 14px;
}
.DynarchCalendar-pressed-bottomBar-today {
  border: 1px solid #000;
  background-color: #777;
  color: #fff;
  padding: 1px 14px;
}






.DynarchCalendar-body {
  position: relative;
  overflow: hidden;

  width: 407px;
}

.DynarchCalendar-first-col {
 }
.DynarchCalendar-last-col { 
    color: #FFF;
}

.DynarchCalendar-animBody-backYear {
  position: absolute;
  top: -100%;
  left: 0;
}
.DynarchCalendar-animBody-back {
  position: absolute;
  top: 5px;
  left: -100%;
}
.DynarchCalendar-animBody-fwd {
  position: absolute;
  top: 5px;
  left: 100%;
}
.DynarchCalendar-animBody-now {
  position: absolute;
  top: 5px;
  left: 0;
}
.DynarchCalendar-animBody-fwdYear {
  position: absolute;
  top: 100%;
  left: 0;
}

.DynarchCalendar-dayNames {
  margin-top: 30px;
}

.DynarchCalendar-dayNames div { 
  font-weight: bold; 
  color: #006837;
  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid #C2CCE5; 
}

.DynarchCalendar-navBtn {
  position: absolute;
  /*top: 5px;*/
  z-index: 10;
  height: 28px;
  width: 27px;
}

.DynarchCalendar-navBtn div {
  margin-top:7px;
}
.DynarchCalendar-navDisabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.DynarchCalendar-pressed-navBtn div {
  /*border: 1px solid #000;*/
  /*padding: 0;*/
  /*background-color: #777;*/
  /*color: #fff;*/
}

.DynarchCalendar-prevMonth {
  /*left: 21px;*/
  margin-top: 3px;
  background-image: url('images/ArrowLeft.png');
}

.DynarchCalendar-nextMonth {
  left: 88%;
  margin-top: 3px;
  background-image: url('images/ArrowRight.png');
  margin-left: 0px;
}

.DynarchCalendar-prevYear {
  left: 5px;
  display: none;
}

.DynarchCalendar-nextYear {
  left: 100%;
  display: none;
  margin-left: -23px;
}

.DynarchCalendar-prevMonth div {
    /*border-bottom: 6px solid transparent;
    border-right: 12px solid #000;
    border-top: 6px solid transparent;*/
    cursor:pointer;
}
.DynarchCalendar-nextMonth div {
  /*  border-bottom: 6px solid transparent;
    border-left: 12px solid #000;
    border-top: 6px solid transparent;*/
    cursor:pointer;
}
.DynarchCalendar-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  overflow: hidden;
  opacity: 0.85;
  filter: alpha(opacity=85);
}

.DynarchCalendar-menu table td div {
  text-align: center;
  font-weight: bold;
  padding: 3px 5px;
}
.DynarchCalendar-menu table td div.DynarchCalendar-menu-month {
  width: 4em;
  text-align: center;
}
.DynarchCalendar-menu table td div.DynarchCalendar-hover-navBtn {
 /* border: 1px solid #000;
  padding: 2px 4px;
  background-color: #fff;
  color: #000;*/
}
.DynarchCalendar-menu table td div.DynarchCalendar-pressed-navBtn {
 /* border: 1px solid #000;
  padding: 2px 4px;
  background-color: #777;
  color: #fff !important;*/
}

.DynarchCalendar-menu-year {
  text-align: center;
  font: 16px "lucida grande",tahoma,verdana,sans-serif;
  font-weight: bold;
  display: none;
}

.DynarchCalendar-menu-sep {
  height: 1px; font-size: 1px; line-height: 1px;
  overflow: hidden;
  border-top: 1px solid #888;
  background: #fff;
  margin-top: 4px; margin-bottom: 3px;
}

.DynarchCalendar-time td { font-weight: bold; font-size: 120%; }
.DynarchCalendar-time-hour, .DynarchCalendar-time-minute { padding: 1px 3px; }
.DynarchCalendar-time-down { background: url("../images/time-down.png") no-repeat 50% 50%; width: 11px; height: 8px; opacity: 0.5; }
.DynarchCalendar-time-up { background: url("../images//time-up.png") no-repeat 50% 50%; width: 11px; height: 8px; opacity: 0.5; }
.DynarchCalendar-time-sep { padding: 0 2px; }
.DynarchCalendar-hover-time { background-color: #444; color: #fff; opacity: 1; }
.DynarchCalendar-pressed-time { background-color: #000; color: #fff; opacity: 1; }
.DynarchCalendar-time-am { padding: 1px; width: 2.5em; text-align: center; }

/* body */

.DynarchCalendar-hover-week { /*background-color: #ddd;*/ }

.fareSpan{
  color: #2E3191;
}

.DynarchCalendar-dayNames div, .DynarchCalendar-day {
  width: 48px;
  padding: 3px 4px 0px 4px;
  text-align: center;
  background: #DDD;
}

.DynarchCalendar-weekNumber{
  width: 48px;
  padding: 3px 3px 0 4px;
  text-align: center;
  background: #DDD;
}

.DynarchCalendar-weekNumber {
  border-right: 1px solid #aaa;
  margin-right: 4px;
  width: 2em !important;
  padding-right: 8px !important;
}

.DynarchCalendar-day {
  text-align: center; color: #222;
}
.DynarchCalendar-day-othermonth { color: #F1F1F1; background: #F1F1F1;}

.DynarchCalendar-weekend{
  color: #F05A24;
  background-color: #F7DFD2;
}

.DynarchCalendar-day-today { color: #000; font-weight: bold; }

.DynarchCalendar-day-disabled {
  opacity: 0.5;
  text-shadow: 2px 1px 1px #fff;
}

.calendarSeprator{

}


/*

Day Text Green : #006837
Month Blue : #0071BB
Dates Text Black : #000000
Dollars Text : #2E3191
Sat & Sun Date Text Orange : #F05A24
Sat & Sun Cell Color : #F7DFD2
Cell Light Grey BG : #F1F1F1
Dates Cell Border : #CBCBCB
Days Cell Border : #C2CCE5

*/


.DynarchCalendar-hover-date {
 /* padding: 2px 3px;
  background-color: #eef;
  border: 1px solid #88c;
  margin: 0 !important;
  color: #000;*/
}


.DynarchCalendar-day-othermonth.DynarchCalendar-hover-date { border-color: #aaa; color: #F1F1F1; background: #F1F1F1;}

.DynarchCalendar-dayNames .DynarchCalendar-weekend { background-color: #DDD; border: 1px solid #C2CCE5; width: 48px;}
.DynarchCalendar-day-othermonth.DynarchCalendar-weekend { color: #F1F1F1; background: #F1F1F1;}

.DynarchCalendar-day-selected {
  /*padding: 2px 3px;*/
  /*margin-left: 1px;
  margin-right: 0px;
  margin-top: 1px;
  margin-bottom: 0px;*/
  background-color: #aaa;
  color: #000 !important;
  background-color: #FFF;
}
.DynarchCalendar-day-today.DynarchCalendar-day-selected { background-color: #999; }

/* focus */

.DynarchCalendar-focusLink {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

.DynarchCalendar-focused {
  /*border-color: #000;*/
}

.DynarchCalendar-focused .DynarchCalendar-topBar, .DynarchCalendar-focused .DynarchCalendar-bottomBar {
  background-color: #FFF;
  /*border-color: #336;*/
}

.DynarchCalendar-focused .DynarchCalendar-hover-week {
  /*background-color: #ccc;*/
}

.DynarchCalendar-tooltip {
  position: absolute;
  top: 100%;
  width: 100%;
}

.DynarchCalendar-tooltipCont {
  margin: 0 5px 0 5px;
  border: 1px solid #aaa;
  border-top: 0;
  padding: 3px 6px;
  background: #ddd;
}

.DynarchCalendar-focused .DynarchCalendar-tooltipCont {
  background: #ccc;
  border-color: #000;
}

@media print {
  .DynarchCalendar-day-selected {
    padding: 2px 3px;
    border: 1px solid #000;
    /*margin: 0 !important;*/
  }
}
